.schapka{

  width: 100%;
  height: 300px;
  position: absolute;
  margin-top: 75px;
  margin-left: 80px;

  
}

.schapka img{
   width: 100%;
   height:300px;
   object-fit:cover;
   background-size: cover;
   
}

.content{
  content: c;
}

.posts {

}

.item {
  
}