.header{
  grid-area: h;
  height:75px;
  width: 100%;
  position:fixed;
}



input {
  margin-left: 138px;
  margin-top: 30px;
  background-color: transparent;
  border: 0px solid;
  height: 20px;
  width: 325px;
  color: #908989;
}

*:focus {
  outline: none;
}

.loupe {
  margin-left: 117px;
  margin-top: 30px;
  width:16px;
  height: 16px;
  position: absolute;

}

.view_card {
  /* position: absolute; */
  margin-left: -6px;
  width: 30px;
  height: 30px;
  margin-top: -3px;
}


button {
  width: 30px;
  height: 30px;
  margin-left: 1315px;
  margin-top: -25px;
  border-radius: 30px;
  border: none;
  position: absolute
  
}

.login {
  margin-left: 1360px;
  position: absolute;
  margin-top: -25px;
  
}